.HomeContainer {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  background-color: #f5f5f5;

  .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .bookSort button {
      display: flex;
      gap: 10px;
      cursor: pointer;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #9fa39f;
      color: #fff;
      font-size: 1rem;
      transition: background-color 0.3s ease;
    }
    .bookSearch {
      display: flex;
      gap: 10px;
      input {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
      }
      :last-child {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #9fa39f;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
    }
  }

  .BookContainer {
    display: grid;
    // gap: 5px;
    grid-template-columns: repeat(4, 1fr);
  }
}
// Product.scss

.product {
  margin: 0.75rem;
  position: relative;
  width: 220px;
  height: 350px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 3px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    background-color: #0e0b0b;
    .product-image {
      opacity: 0.2;
    }

    .product-details {
      opacity: 1;
    }
  }

  .product-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    transition: opacity 0.3s ease;
  }
  .product-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease; // Add transition for opacity change
  }
}
